<ul class="actions list-inline">
    <li class="reply-action">
        <object type="image/svg+xml" data="assets/svg/reply.svg" class="logo"></object>
    </li>
    <li class="favorite-action">
        <object type="image/svg+xml" data="assets/svg/favorite.svg" class="logo"></object>
    </li>
    <li>
        50m
    </li>
</ul>