.post {
    width: 575px;

    //
    // Post Content
    //

    .post-content {
        position: relative;
    }

    //
    // Post Body
    //

    .media {
        border: 1px solid #dee1e5;
        padding: 25px 25px 0 25px;
        border-radius: 4px;
    }

    .post-content.is-displaying-extra-content .media,
    .post-content.is-displaying-replies .media {
        border-bottom: none;
        border-radius: 4px 4px 0 0;
    }

    .media-body {
        // Account for the focus border of the expand/collaps button
        margin-left: -5px;
        padding-left: 5px;
    }

    .post-title {
        color: #3f454d;
        font-size: 17px;
        font-weight: normal;
    }

    .post-body {
        font-size: 16px;
        margin-bottom: 17px;
    }

    .post-body a {
        color: #bec3cc;
    }

    .expand-btn {
        color: #bec3cc;
        font-size: 13px;
        margin-bottom: 20px;
        margin-left: -1px;
    }

    .expand-btn .caret {
        color: #bec3cc;
        margin-left: 4px;
    }

    .expand-btn.is-expanded .caret {
        @caret-width: 7px;
        @caret-height: 4px;

        border-top: 0;
        border-right: @caret-width/2 solid transparent;
        border-bottom: @caret-height solid;
        border-left: @caret-width/2 solid transparent;
    }

    //
    // Post Actions
    //

    .actions {
        color: #bec3cc;
        font-size: 16px;
        position: absolute;
        right: 25px;
        top: 20px;
    }

    .actions object {
        height: 13px;
        width: 13px;
    }

    .actions .reply-action {
        margin-right: 22px;
    }

    .actions .favorite-action {
        margin-right: 19px;
    }

    //
    // Post Media
    //

    .post-media {
        margin-top: -3px;
        position: relative;
        width: 100%
    }

    .post-media .media-btn {
        width: 100%;
    }

    .post-media .post-media-wrapper {
        height: 315px;
        position: relative;
        overflow: hidden;
        border-radius: 0 0 4px 4px;
    }

    .post-media .video-overlay {
        border-radius: 0 0 4px 4px;
        z-index: @z-index-overlay;
    }

    .post-media img {
        position: absolute;
    }

    .gutter {
        display: none;
    }

    // Modal sizing
    .post-media .modal-window {
        top: 10%;
        height: 80%;
    }

    //
    // Replies
    //

    .post-replies {
        margin-top: -3px;
    }

    .reply {
        background-color: rgba(244, 245, 247, 0.5);
        border: 1px solid rgba(222, 225, 229, 0.5);
        border-left: 1px solid #dee1e5;
        border-right: 1px solid #dee1e5;
        padding-top: 26px;
        position: relative;
    }

    .reply .media {
        border: none;
        padding: 0;
        border-radius: 0;
        margin-left: 25px;
    }

    .reply:last-child {
        border-bottom: 1px solid #dee1e5;
        border-radius: 0 0 4px 4px;
    }

    .reply .actions {
        top: 26px;
    }

    .reply-input {
        padding-bottom: 24px;
        padding-left: 25px;
        padding-right: 23px;
    }

    .reply-field {
        background-color: white;
        border: 1px solid #dee1e5;
        box-sizing: border-box;
        display: block;
        font-size: 16px;
        padding: 0 14px;
        width: 100%;

        .placeholder({
            color: #bec3cc;
        });
    }
}

.post.post-sm {
    width: 375px;

    .post-content {
        padding: 0;
        border-radius: 0;
        border: none;
    }

    .actions {
        top: auto;
        bottom: 19px;
        right: 25px;
    }

    .media {
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
    }

    .post-body {
        margin-bottom: 0;
    }

    .post-media .post-media-wrapper {
        height: 225px;
        border-radius: 0;
    }

    .post-media .video-overlay {
        border-radius: 0;
    }

    .post-media img {
        position: static;
        width: 100%;
    }

    .gutter {
        display: block;
        height: 53px;
        border: 1px solid #dee1e5;
        border-top: none;
        border-radius: 0 0 4px 4px;
    }

    .reply .actions {
        display: none;
    }

    .reply .media-body {
        margin-bottom: 25px;
    }

    .post-content.is-displaying-extra-content .media {
        padding-bottom: 24px;
    }


    .post-content.has-replies .media{
        border-bottom: 1px solid #dee1e5;
        border-radius: 4px;
    }

    .post-content.has-replies .post-body{
        margin-bottom: 16px;
    }

    .post-content.has-replies .gutter {
        display: none;
    }

    .post-content.is-displaying-replies .media {
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
    }
}