//
// SimplySocial Project Specific Variables
//

// ==================================================================
// Fonts
// ==================================================================

@ss-font-family-sans-serif: "Proxima Nova", Helvetica, Arial, sans-serif;

// ==================================================================
// Colors
// ==================================================================

@ss-text-color:         "#333";
@ss-heading-text-color: "#000";
@ss-link-color:         "#bec3cc";

// ==================================================================
// Sizing
// ==================================================================

// @ss-font-size-subnav: 13px;
// @ss-font-size-new-post-action: 15px;
// @ss-font-size-post-body: 16px;
// @ss-font-size-post-heading: 17px;
// @ss-font-size-xl: 32px;
@ss-font-size-std: 17px;

// @spacing-std: 30px;

@radius-std: 4px;


@z-index-modal:    9000;
@z-index-dropdown: 8000;
@z-index-overlay:  7000;
