.app-header {
    //
    // Header Styling
    //
    background-color: #282828;
    height: 30px;
    padding: 15px 101px 15px 99px;

    //
    // Global Navigation
    //

    .logo {
        margin-top: 4px;
    }

    //
    // Action Items
    //

    .action-items button {
        display: block;
    }

    .action-items .new-post-action {
        margin-right: 24px;
        position: relative;
    }

    .object-btn {
        height: 26px;
        width: 32px;
        top: 4px;
    }

    .new-post-action .new-post-icon {
        height: 26px;
        width: 26px;
    }

    .action-items .search-action {
        margin-right: 23px;
        width: 200px;
    }

    .search-action {
        width: 146px;
    }

    .search-action object {
        height: 16px;
        width: 16px;
    }

    .search-action .form-control {
        border-color: #70767f;
        color: #bec3cc;
        height: 28px;
        width: 146px;
    }

    .search-action .input-group-addon {
        border-color: #70767f;
    }
}

.content-wrapper {
    margin-bottom: 94px;
}

.app-footer {
    border-top: 1px solid #dee1e5;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-top: 31px;
    text-align: center;


    .footer-nav {
        display: inline-block;
    }

    .footer-nav .link {
        color: #00b286;
        margin-right: 24px;

        &:last-child {
            margin-right: 21px;
        }
    }

    .link a,
    .link a:visited {
        color: #00b286;
    }

    .copyright {
        display: inline-block;
    }
}