<div class="new-post new-post-modal form">
    <label for="new-post-input-modal" class="new-post-title">Create new message</label>
    <textarea name="" id="new-post-input-modal" class="form-control new-post-input"></textarea>

    <ul class="media-btn-list list-inline pull-left">
        <li>
            <button class="btn add-media-btn">
                <span class="icon-wrapper">
                    <object type="image/svg+xml" data="assets/svg/camera.svg" class="logo"></object>
                </span>
                <span class="label">Add Picture</span>
            </button>
        </li>
        <li>
            <button class="btn add-media-btn add-video-btn">
                <span class="icon-wrapper">
                    <object type="image/svg+xml" data="assets/svg/video.svg" class="logo"></object>
                </span>
                <span class="label">Add Video</span>
            </button>
        </li>
    </ul>

    <button class="btn btn-primary create-post-btn pull-right">
        <span>Post</span>
    </button>
</div>