.btn {
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;

    &::-moz-focus-inner {
        margin: -1px;
        padding: 0;
    }

    .caret {
        margin-left: 6px;
    }

    &.btn-primary {
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        background-color: #00b286;
        border-radius: 3px;
        padding-left: 24px;
        padding-right: 22px;
        height: 35px;
    }

    &.btn-default {
        color: #bec3cc;
        border: 1px solid #bec3cc;
        border-radius: 4px;
        font-size: 13px
    }

    &.btn-small {
        font-size: 13px;
        height: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .object-btn {
        display: block;
        position: absolute;
    }
}