<div class="settings-view">
    <div class="title page-title">
        <h1>Settings</h1>
    </div>

    <form data-bind="submit: saveSettings">
        <div class="account-settings settings-section">
            <div class="title">
                <h2>ACCOUNT</h2>
            </div>

            <!-- ko ifnot: isLoading -->
            <div class="profile-pic">
                <div class="avatar avatar-lg">

                    <img data-bind="
                        attr: {
                            src: user().images().large.imageUri
                        },
                        style: {
                            left: user().images().large.position.x,
                            width: user().images().large.width,
                            top: user().images().large.position.y
                        }
                    ">
                </div>

                <button class="btn btn-default btn-small" type="button">
                    <span>Change</span>
                </button>
            </div>

            <ul class="account-information list-unstyled form">
                <li class="account-info-item account-info-name">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <object type="image/svg+xml" data="assets/svg/user.svg" class="logo"></object>
                        </span>
                        <input type="text" class="form-control" data-bind="value: user().name">
                    </div>

                </li>
                <li class="account-info-item account-info-email">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <object type="image/svg+xml" data="assets/svg/mail.svg" class="logo"></object>
                        </span>
                        <input type="text" class="form-control" data-bind="value: user().email">
                    </div>

                </li>
                <li class="account-info-item account-info-password">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <img src="assets/images/lock.png" alt="">
                        </span>
                        <input type="password" class="form-control" data-bind="value: user().password">
                        <span class="input-group-addon">change</span>
                    </div>

                </li>
            </ul>
            <!-- /ko -->
        </div>

        <div class="notifications-settings settings-section">
            <div class="title">
                <h2>NOTIFICATIONS</h2>
            </div>

            <!-- ko ifnot: isLoading -->
            <ul class="notification-options list-unstyled">
                <li class="notification-item">
                    <div class="flipswitch" data-bind="flipswitch: settings().isFavoriteNotificationOn"></div>
                    <span class="label">email me when my posts are marked as favorites</span>
                </li>
                <li class="notification-item">
                    <div class="flipswitch" data-bind="flipswitch: settings().isMentionNotificationOn"></div>
                    <span class="label">email me when I'm mentioned</span>
                </li>
                <li class="notification-item">
                    <div class="flipswitch" data-bind="flipswitch: settings().isReplyNotificationOn"></div>
                    <span class="label">email me when I get a reply</span>
                </li>
                <li class="notification-item">
                    <div class="flipswitch" data-bind="flipswitch: settings().isFollowNotificationOn"></div>
                    <span class="label">email me when someone follows me</span>
                </li>
            </ul>
            <!-- /ko -->
        </div>

        <div class="privacy-settings settings-section">
            <div class="title">
                <h2>PRIVACY</h2>
            </div>

            <!-- ko ifnot: isLoading -->
            <ul class="privacy-tags list-unstyled">
                <li class="privacy-tags-option">
                    <input type="radio"
                           value="anyone"
                           name="settings-privacy-tags"
                           id="settings-privacy-tags-anyone"
                           data-bind="checked: settings().whoCanTagMe">
                    <label for="settings-privacy-tags-anyone">
                        <div class="radio" tabindex="0"></div>
                        <span>allow anyone to tag me</span>
                    </label>
                </li>

                <li class="privacy-tags-option">
                    <input type="radio"
                           value="followers"
                           name="settings-privacy-tags"
                           id="settings-privacy-tags-followers"
                           tabindex="0"
                           data-bind="checked: settings().whoCanTagMe">
                    <label for="settings-privacy-tags-followers">
                        <div class="radio" tabindex="0"></div>
                        <span>only allow people I follow tag me</span>
                    </label>
                </li>

                <li class="privacy-tags-option">
                    <input type="radio"
                           value="noone"
                           name="settings-privacy-tags"
                           id="settings-privacy-tags-noone"
                           tabindex="0"
                           data-bind="checked: settings().whoCanTagMe">
                    <label for="settings-privacy-tags-noone">
                        <div class="radio" tabindex="0"></div>
                        <span>don't allow anyone to tag me</span>
                    </label>
                </li>
            </ul>

            <ul class="privacy-others list-unstyled">
                <li class="settings-privacy-other">
                    <input type="checkbox"
                           name="settings-privacy-tags"
                           id="settings-privacy-other-add-location"
                           tabindex="0"
                           data-bind="checked: settings().addLocationToPosts">
                    <label for="settings-privacy-other-add-location">
                        <div class="checkbox" tabindex="0"></div>
                        <span>add a location to my posts</span>
                    </label>
                </li>

                <li class="settings-privacy-other">
                    <input type="checkbox"
                           name="settings-privacy-tags"
                           id="settings-privacy-other-find-email"
                           tabindex="0"
                           data-bind="checked: settings().canFindByEmail">
                    <label for="settings-privacy-other-find-email">
                        <div class="checkbox" tabindex="0"></div>
                        <span>let others find me by me email address</span>
                    </label>
                </li>

                <li class="settings-privacy-other">
                    <input type="checkbox"
                           name="settings-privacy-tags"
                           id="settings-privacy-other-tailor-ads"
                           tabindex="0"
                           data-bind="checked: settings().shouldDisplayPersonalAds">
                    <label for="settings-privacy-other-tailor-ads">
                        <div class="checkbox" tabindex="0"></div>
                        <span>tailor ads based on my information</span>
                    </label>
                </li>
            </ul>
            <!-- /ko -->
        </div>

        <button type="submit" class="btn btn-primary save-settings-btn" data-bind="disable: isSaving">
            <span>Save Changes</span>
        </button>
    </form>
</div>


